<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="cargar_calificaciones" method="post">
        <div>
            <label for="">Materia</label>
            <input type="text" name="materia" id="materia" >
        </div>
            
        <div>
            <label for="">Calificion</label>
            <input type="number" name="calificacion" id="calificacion" >
            
        </div>

        <div>
            <label for="">Cedula</label>
            <input type="" name="cedula" id="cedula">
        </div>
        <input type="submit" value="Actualizar">

    </form>
</body>
</html>